{% extends "store/base.html" %}

{% block title %}
<title>Login | Library</title>
{% endblock %}

{% block content %}


<div id="login">
        <form class="form-horizontal" name="LoginForm"  method="post">
        {% csrf_token %}
        <div class="control-group mb-2">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group mb-2">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </div>
        </form>
        {% if form.errors %}
        <p class="text-danger">Username or Password wrong...Please try again</p>
        {% endif %}
    </div>
<style>

</style>
{% endblock %}