{% extends "store/base.html" %}

{% block title %}
<title>{{ book.title }} | Library</title>
{% endblock %}

{% block content %}
<h2>Title: {{ book.title }}</h2>

<dl>
    <dt>Genre:</dt>
    <dd>{{ book.genre }}</dd>
    <dt>Author:</dt>
    <dd>{{ book.author }}</dd>
    <dt>Description:</dt>
    <dd>{{ book.description }}</dd>
    <dt>Rating:</dt>
    <dd>{{ book.rating }}</dd>
    <dt>MRP:</dt>
    <dd>Rs. {{ book.mrp }}</dd>
    <dt>Available Copies:</dt>
    <dd>{{ num_available }}</dd>
</dl>

<button class="btn btn-success" id="loan-button">Loan {{ book.title }}</button>
{% if user.is_authenticated %}
<p class="font-weight-bold mt-2">Read {{ book.title }}!! Please give a minute to rate it..<span class="font-weight-normal">(Please rate it on the index of 0 to 10)</span></p>
<form class="form-horizonal">
<div class="control-group mb-2">
            <label class="control-label" for="rating">Rating:</label>
            <div class="controls">
                <input type="number" id="rating" min="0" max="10" step="0.1">
            </div>
        </div>
		 <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-warning" id="rate-button">Rate {{ book.title }} </button>
            </div>
        </div>

</form>
{% endif%}
<script>
$("#loan-button").click(function(){
    $.ajax({
		url: "{% url 'loan-book' %}",
		method: "POST",
		data: {
			bid: {{ book.id }}
		},
		success: function(data, status, xhr){
			if(data['message'] == "success"){
                alert("Book successfully issued");
                window.location.replace("/books/loaned");
			}
			else{
				alert("Unable to issue this book");
			}
		},
		error: function(xhr, status, err){
			alert("Some error occured");
		}

	})
});

$("#rate-button").click(function(){
    const rating=document.getElementById("rating").value;
    console.log(rating)
    $.ajax({
		url: "{% url 'rate-book' %}",
		method: "POST",
		data: {
			bid: {{ book.id }},
            rating: rating
		},
		success: function(data, status, xhr){
			if(data['message'] == "success"){
                alert("Thank You for rating");
                location.reload();
			}
			else{
				alert("Unable to update rating");
			}
		},
		error: function(xhr, status, err){
			alert("Some error occured");
		}

	})
})
</script>
{% endblock %}